<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <title>Numerology App</title>
  <style>
  a {
    text-decoration: underline;
    font-weight: bold;
    color: purple;
  }
  .btn  {
    background-color: purple;
    color: #fff;
    margin-top: 15px;
  }
  </style>

</head>

<body>
  <div class="container">
  <div class ="header">
    <h1>Numerology Calculator <small> A <a href="http://skillcrush.com">Skillcrush </a> Project </small></h1>
  </div>

  <hr />
  <%= yield %>

</div>
</body>
</html>
